@using Comments.Models.ViewModels
@model IList<AllCommentsViewModel>;
@{
    ViewBag.Title = "All comments";
}

<h1 class="text-center">All comments</h1>
</hr>
<div class="text-center row">
    @foreach (var c in Model)
    {
        <div class="card row-4" style="width: 20rem; ">
            <div>
                <h5>@c.Text</h5>
                <p>@c.Author</p>
                <p>@c.Date</p>
            </div>
        </div>
    }
</div>