@using Comments.Models.ViewModels
@model IList<AllCommentsViewModel>;
@{
    ViewBag.Title = "All comments";
}

<h1>All comments</h1>
</hr>
@foreach (var c in Model)
{
    <div>
        <p>@c.Text</p>
        <p>@c.Author</p>
        <p>@c.Date</p>
    </div>
}
