@{
    ViewData["Title"] = "Секция за коментари";
}

<div class="text-center">
    <h1 class="display-4">Секция за коментари</h1>
    <p>Тук можете да напищете коментари относно училището.</p>

</div>
